/* ############ */
/* ### MENU ### */
/* ############ */

.menu {width: 100%; color: white; float: right; padding: 1% ;  background: #4e688e;
    border-bottom: 10px solid #c97941;
}
.menu nav {
    float: right;
}
nav a { 
    text-decoration: none;
    color: white;
    float: left;
    padding-left: 16px;
    font-style: italic;
    font-size: 15pt;
    font-family: 'Roboto Light'
}

.grafico {
    height: 450px;;
}

/* ############## */
/* ### FOOTER ### */
/* ############## */
.rodape { 
    clear: both;
    background: #4e688e;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rodape span {padding-left: 2%; color: white; padding-bottom: 10px;}