<div class="main">
  <div class="image">

    <section class="menu">
      <nav>
        <a [routerLink]="['/home']">Página inicial</a>
        <a [routerLink]="['/consulta']">Consulta individual</a>
        <a [routerLink]="['/estatisticas']">Estatísticas</a>
      </nav>
    </section>

    <section class="info">
      <p>
        <i>Evasão Escolar</i> <br>
        <b>É coisa seria!</b> <br>
        <span>Nos ajude a combater!</span> <br>
      </p>
    </section>

    <div class="transparente">
      <div class="row">
        <div style="padding-left: 100px;" class="col">
          <h3 class="titulo">Consulta Individual</h3>
          <p>
            Utilize nossa inteligência artificial para<br>
            analisar a probabilidade de evasão de<br>
            um aluno. <br>
            <button [routerLink]="['/consulta']" class="btn_consultar">Consultar</button>
          </p>


        </div>
        <div style="padding-left: 100px;" class="col">

          <h3 class="titulo">Estatísticas</h3>
          <p>
            Verifique as taxas de evasão por<br>
            estados e municípios. <br>
            <button [routerLink]="['/estatisticas']" class="btn_ver">Ver</button>
          </p>


        </div>
      </div>
    </div>
  </div>

  <section class="cadastro">
    <h3 class="titulo">Cadastro de Alunos</h3>
    <p>
      Escolas podem nos ajudar cadastrando seus alunos, aumentando com isso a
      eficiência da ferramenta. <br>
      Solicite já seu código de acesso!
    </p>

    <button class="btn_cadastrar">Cadastrar</button>
  </section>

  <section>
    <div class="rodape">
      <span><img src="../../assets/logo-5hacks.png" alt="5Hacks" width="80"></span>
      <span><img src="../../assets/logo-unicef.png" alt="unicef" width="80"></span>
      <span><img src="../../assets/logo-campus.png" alt="Campus Party 12" width="80"></span>
    </div>
  </section>
</div>