<div class="main">
  <div class="image">

    <section class="menu">
      <nav>
        <a [routerLink]="['/home']">Página inicial</a>
        <a [routerLink]="['/consulta']">Consulta individual</a>
        <a href="#">Estatísticas</a>
      </nav>
    </section>

    <section class="info">
      <p>
        <i>Evasão Escolar</i> <br>
        <b>É coisa seria!</b> <br>
        <span>Nos ajude a combater!</span> <br>
      </p>
    </section>
  </div>


  <section class="cadastro">
    <h3>Cadastro de Alunos</h3>
    <p>
      Escolas podem nos ajudar cadastrando seus alunos, aumentando com isso a
      eficiência da ferramenta. <br> <br>
      Solicite já seu código de acesso!
    </p>

    <button class="btn_cadastrar">Cadastrar</button>
  </section>

  <section>
    <div class="rodape">
      <span><img src="../../assets/logo-5hacks.png" alt="5Hacks" width="80"></span>
      <span><img src="../../assets/logo-unicef.png" alt="unicef" width="80"></span>
      <span><img src="../../assets/logo-campus.png" alt="Campus Party 12" width="80"></span>
    </div>
  </section>
</div>
